$logocolor:#1DA1F2;
$btncolor:#006DBF;
$navtext:#66757F;

body{
    font-family: roboto;
}

nav{
    span{
        color: $navtext;
        margin-left: 26%;
        .icn{
            color: $logocolor;
            font-size: 22px;
        }
        #naf{
            font-size: 14px;
        }
    }
    .dropdown{
        .dropdown-menu{
            display: none;
        }
    }
    .dropdown:hover{
        .dropdown-menu{
            display: block;
        }
    }
}

.bye{
    font-size: 14px;
    margin-left: 60vh;
    h1{
        font-size: 28px;
        font-weight: 700;
    }
    .frm{
        border: 2px solid #E5EBEE;
        border-radius: 30px;
    }
    .frm:focus{
        border-color: $logocolor;
    }
    .btn{
        background-color: $logocolor;
        color: white;
        font-size: 14px;
        border-radius: 30px;
    }
    .btn:hover{
        background-color: $btncolor;
    }
}