// colors
$maincolor:#1DA1F2;
$sidenavhovercolor:#E8F5FE;
$sdnavbtncolor:#1A91DA;
$mainbtncolor:#8ED0F9;
$ltextcolor:#9AA5AF;

// fontsize
$header:19px;
$normaltxt:15px;
$lightext:13px;

// sidenav
.sidenav{
    color: black;
    font-size: $header;
    height: 100%;
    .sdnav{
        font-weight: 500;
        margin-left: 10%;
        .twt{
            color: $maincolor;
            font-size: 30px;
            text-decoration: none;
        }
       
    }
    .sdnav:hover{
        .twt{
            background-color: $sidenavhovercolor;
        }
        .kik{
            background-color: $sidenavhovercolor;
            color: $maincolor;
        }
    }

    .kik{
        color: black;
        text-decoration: none;
        border-radius: 30px;
    }

    i{
        font-size: 25px;
    }
    #finh{
        background-color:$sdnavbtncolor;
        text-align: center;
        border-radius: 30px;
        font-size: $normaltxt;
        margin-bottom: 100px;
    }
    #sdbtn{
        color: white;
        border-radius: 0px;
    }
}

// mainbody
.nav-bar{
    .nav-icn{
        color: $maincolor;
        text-decoration: none;
    }
    .nav-icn:hover{
        background-color: $sidenavhovercolor;
    }
    #txt1{
        font-weight: 700;
    }
    .txt2{
        font-size: $lightext;
    }
}
.profilebody{
    .imga{
        height: 30vh;
        // position: absolute;
        top: 5%;
    }
    .imgi{
        height: 20vh;
        width: 10vw;
        position: absolute;
        // top: 0px;
        left: 5%;
        margin-top: 19%;
        border: 5px solid white;
    }
    .btn{
        border: 1px solid $maincolor;
        border-radius: 30px;
        font-weight: 700;
        color: $maincolor;
    }
    .btn:hover{
        background-color: $sidenavhovercolor;
    }
    #uname{
        font-weight: 700;
        
    }
    .activities{
        .nav{
            .act{
                a{
                    text-decoration: none;
                    color: rgb(112, 108, 108);
                    font-weight: 700;
                }
                .active{
                    color: $maincolor;
                    border-bottom: 2px solid $maincolor;
                }
            }
            .act:hover{
                background-color: $sidenavhovercolor;
                a{
                    color: $maincolor;
                }
            }
            .act:active{
                border-bottom: 2px solid $maincolor;
            }   
        }

        .tweet{
            .itachi{
                font-size: $lightext;
            }
            .higa{
                font-weight: 700;
                font-size: $normaltxt;
            }
            .twitpix{
                border-radius: 30px;
                height: 50vh;
                .imgr{
                    border-radius: 30px;
                }
                .imge{
                    
                    border-radius: 30px 0px 0px 30px;
                }
                .imgu{
                    border-radius: 0px 30px 30px 0px;
                }
            }
            #twu{
                border-radius: 15px;
            }
        }
        .tweet:hover{
            background-color: #F5F8FA;
        }
        .imago{
            width: 50px;
            height: 50px;
        }
        .bodicn{
           
            .icnu{
             color: green;
            }
            .spn2{
                color: green;
            }
            .icni{
             color: red;
            }
            .spn3{
                color: red;
            }
            
         }
        .bodicn:hover{
           .icno{
            background-color: rgb(216, 216, 228);
            color: blue;
           }
           .spn1{
               color: blue;
           }
           .icnu{
            background-color: #E6ECF0;
            color: green;
           }
           .spn2{
               color: green;
           }
           .icni{
            background-color: #E6ECF0;
            color: red;
           }
           .spn3{
               color: red;
           }
           .icnn{
               color: rgb(106, 106, 173);
               background-color: #E6ECF0;
           }
        }
    }
}
.txt2{
    font-size: $lightext;
}