.sidenav {
  color: black;
  font-size: 19px;
  height: 100%; }
  .sidenav .sdnav {
    font-weight: 500;
    margin-left: 10%; }
    .sidenav .sdnav .twt {
      color: #1DA1F2;
      font-size: 30px;
      text-decoration: none; }
  .sidenav .sdnav:hover .twt {
    background-color: #E8F5FE; }
  .sidenav .sdnav:hover .kik {
    background-color: #E8F5FE;
    color: #1DA1F2; }
  .sidenav .kik {
    color: black;
    text-decoration: none;
    border-radius: 30px; }
  .sidenav .active {
    background-color: #E8F5FE;
    border-radius: 30px; }
  .sidenav i {
    font-size: 25px; }
  .sidenav #finh {
    background-color: #1A91DA;
    text-align: center;
    border-radius: 30px;
    font-size: 15px; }
  .sidenav #sdbtn {
    color: white;
    border-radius: 0px; }
  .sidenav .logit {
    text-decoration: none;
    color: black; }
  .sidenav .logdiv {
    border-radius: 30px;
    margin-left: 10%; }
    .sidenav .logdiv .loginphoto {
      width: 3vw;
      height: 7vh; }
    .sidenav .logdiv .itachi {
      font-size: 13px; }
    .sidenav .logdiv .higa {
      font-weight: 700;
      font-size: 15px; }
  .sidenav .logdiv:hover {
    background-color: #E8F5FE; }

.nav-bar .nav-icn {
  color: #1DA1F2;
  text-decoration: none; }
.nav-bar .nav-icn:hover {
  background-color: #E8F5FE; }
.nav-bar #txt1 {
  font-weight: 700; }
.nav-bar .txt2 {
  font-size: 13px; }

.profilebody .imga {
  height: 30vh;
  top: 5%; }
.profilebody .imgi {
  height: 20vh;
  width: 10vw;
  position: absolute;
  left: 5%;
  margin-top: 19%;
  border: 5px solid white; }
.profilebody .btn {
  border: 1px solid #1DA1F2;
  border-radius: 30px;
  font-weight: 700;
  color: #1DA1F2; }
.profilebody .btn:hover {
  background-color: #E8F5FE; }
.profilebody #uname {
  font-weight: 700; }
.profilebody .activities .nav .act a {
  text-decoration: none;
  color: #706c6c;
  font-weight: 700; }
.profilebody .activities .nav .act .active {
  color: #1DA1F2;
  border-bottom: 2px solid #1DA1F2; }
.profilebody .activities .nav .act:hover {
  background-color: #E8F5FE; }
  .profilebody .activities .nav .act:hover a {
    color: #1DA1F2; }
.profilebody .activities .nav .act:active {
  border-bottom: 2px solid #1DA1F2; }
.profilebody .activities .tweet .itachi {
  font-size: 13px; }
.profilebody .activities .tweet .higa {
  font-weight: 700;
  font-size: 15px; }
.profilebody .activities .tweet .twitpix {
  border-radius: 30px;
  height: 50vh; }
  .profilebody .activities .tweet .twitpix .imgr {
    border-radius: 30px; }
  .profilebody .activities .tweet .twitpix .imge {
    border-radius: 30px 0px 0px 30px; }
  .profilebody .activities .tweet .twitpix .imgu {
    border-radius: 0px 30px 30px 0px; }
.profilebody .activities .tweet #twu {
  border-radius: 15px; }
.profilebody .activities .tweet:hover {
  background-color: #F5F8FA; }
.profilebody .activities .imago {
  width: 50px;
  height: 50px; }
.profilebody .activities .bodicn .icnu {
  color: green; }
.profilebody .activities .bodicn .spn2 {
  color: green; }
.profilebody .activities .bodicn .icni {
  color: red; }
.profilebody .activities .bodicn .spn3 {
  color: red; }
.profilebody .activities .bodicn:hover .icno {
  background-color: #d8d8e4;
  color: blue; }
.profilebody .activities .bodicn:hover .spn1 {
  color: blue; }
.profilebody .activities .bodicn:hover .icnu {
  background-color: #E6ECF0;
  color: green; }
.profilebody .activities .bodicn:hover .spn2 {
  color: green; }
.profilebody .activities .bodicn:hover .icni {
  background-color: #E6ECF0;
  color: red; }
.profilebody .activities .bodicn:hover .spn3 {
  color: red; }
.profilebody .activities .bodicn:hover .icnn {
  color: #6a6aad;
  background-color: #E6ECF0; }

.txt2 {
  font-size: 13px; }

.rytinput {
  border-radius: 30px;
  background-color: #E6ECF0; }

.gallery img {
  width: 32.5%;
  height: 15vh; }
.gallery .img1 {
  border-radius: 20px 0px 0px 0px; }
.gallery .img2 {
  border-radius: 0px 20px 0px 0px; }
.gallery .img3 {
  border-radius: 0px 0px 0px 20px; }
.gallery .img4 {
  border-radius: 0px 0px 20px 0px; }

.card {
  background-color: #F5F8FA; }
  .card .card-header {
    font-size: 19px;
    background-color: #F5F8FA; }
    .card .card-header .headertitle {
      font-weight: 700; }
    .card .card-header a {
      text-decoration: none; }
  .card .card-body .fila {
    text-decoration: none;
    color: black; }
  .card .card-body .sasuke .itachi {
    font-size: 13px; }
  .card .card-body .sasuke .higa {
    font-weight: 700;
    font-size: 15px; }
  .card .card-body .sasuke:hover {
    background-color: #E6ECF0; }
  .card .imago {
    width: 50px;
    height: 50px; }
  .card .bito {
    border-radius: 30px;
    border-color: #1DA1F2;
    color: #1DA1F2; }

.bado {
  font-size: 13px; }

/*# sourceMappingURL=Profilepage.css.map */
