// colors
$maincolor:#1DA1F2;
$sidenavhovercolor:#E8F5FE;
$sdnavbtncolor:#1A91DA;
$mainbtncolor:#8ED0F9;
$ltextcolor:#9AA5AF;

// fontsize
$header:19px;
$normaltxt:15px;
$lightext:13px;

// sidenav
.sidenav{
    color: black;
    font-size: $header;
    height: 100%;
    position: sticky;
    overflow-y: scroll;
    top: 0px;

    .sdnav{
        font-weight: 500;
        margin-left: 10%;
        .twt{
            color: $maincolor;
            font-size: 30px;
            text-decoration: none;
        }
       
    }
    .sdnav:hover{
        .twt{
            background-color: $sidenavhovercolor;
        }
        .kik{
            background-color: $sidenavhovercolor;
            color: $maincolor;
        }
    }

    .kik{
        color: black;
        text-decoration: none;
        border-radius: 30px;
    }
    .active{
        background-color: $sidenavhovercolor;
        border-radius: 30px;
    }


    i{
        font-size: 25px;
    }
    #finh{
        background-color:$sdnavbtncolor;
        text-align: center;
        border-radius: 30px;
        font-size: $normaltxt;
    }
    #sdbtn{
        color: white;
        border-radius: 0px;
    }
    .logit{
        text-decoration: none;
        color: black;
        .loginphotoxs{
        margin-left: 20%;
    }
    }
    .logdiv{
        border-radius: 30px;
        margin-left: 10%;
        
        
        .loginphoto{
            width: 3vw;
            height: 7vh;
        }
        .itachi{
            font-size: $lightext;
        }
        .higa{
            font-weight: 700;
            font-size: $normaltxt;
        }
    }
    .logdiv:hover{
        background-color: $sidenavhovercolor;
    }
    
}
#sidenav1{
    display: none;
}

#sidenav2{
    display: none;
}

// mainbody
// .mainbody{
    
   
// }
.main-nav{
    background-color: white;
    position: sticky;
    top: 0px;
}
#star{
    width: 25px;
    height: 25px;
}
.bgg{
    font-size: $header;
    font-weight: 700;
}
#sts{
    resize: none;
}
.stat{
    border: 1px solid #E6ECF0;
    border-bottom: 10px solid #E6ECF0;
}
#prfp{
    width: 60px;
    height: 60px;
}
#tpicn{
    font-size: 23px;
}
#twtbtn{
    background-color: $mainbtncolor;
    border-radius: 30px;
    color: white;
}
.rytinput{
    border-radius: 30px;
    background-color: #E6ECF0;
}
.tweet{
    .itachi{
        font-size: $lightext;
    }
    .higa{
        font-weight: 700;
        font-size: $normaltxt;
    }
    .twitpix{
        border-radius: 30px;
        height: 50vh;
        .imgr{
            border-radius: 30px;
        }
        .imge{
            
            border-radius: 30px 0px 0px 30px;
        }
        .imgu{
            border-radius: 0px 30px 30px 0px;
        }
    }
    #twu{
        border-radius: 15px;
    }
}
.tweet:hover{
    background-color: #F5F8FA;
}
.imago{
    width: 50px;
    height: 50px;
}
.bodicn:hover{
   .icno{
    background-color: rgb(216, 216, 228);
    color: blue;
   }
   .spn1{
       color: blue;
   }
   .icnu{
    background-color: #E6ECF0;
    color: green;
   }
   .spn2{
       color: green;
   }
   .icni{
    background-color: #E6ECF0;
    color: red;
   }
   .spn3{
       color: red;
   }
   .icnn{
       color: rgb(106, 106, 173);
       background-color: #E6ECF0;
   }
}
.bottomnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    bottom: 0px;
    background-color: white;
    display: none;
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}

// rightsection
.rightsect{
    height: 100%;
    position: sticky;
    top: 0px;
    margin-left: auto;
    // overflow: hidden;
}
.nav-bar{
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 1;
}
.card{
    background-color: #F5F8FA;

    .card-header{
    
        font-size: $header;
        background-color: #F5F8FA;
        .headertitle{
            font-weight: 700;
        }
        a{
            text-decoration: none;
        }
    }
    .card-body{
        .fila{
            text-decoration: none;
            color: black;
        }
        .sasuke{
            .itachi{
                font-size: $lightext;
            }
            .higa{
                font-weight: 700;
                font-size: $normaltxt;
            }
        }
        .sasuke:hover{
            background-color: #E6ECF0;
        }
    }
    .imago{
        width: 50px;
        height: 50px;
    }
    .bito{
        border-radius: 30px;
        border-color: $maincolor;
        color: $maincolor;
    }
}
.bado{
    font-size: $lightext;
}


// media-query
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mainbody {background: red;
        // width: 100%;
        // padding: 0px;
        // margin: 0px;
        .bottomnav{
            display: flex;
        }
    }
    .sidenav{
        display: none;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .mainbody {background: green;}
    #sidenav1{
        display: none;
    }
    #sidenav2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        width: 100%;
        .sdnav{
            font-weight: 500;
            width: 100%;
            // margin-left: 10%;
            .twt{
                color: $maincolor;
                font-size: 30px;
                text-decoration: none;
            }
           
        }
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .mainbody {background: blue;}
    #sidenav1{
        display: none;
    }
    #sidenav2{
        #sidenav2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .sdnav{
                font-weight: 500;
                width: 100%;
                // margin-left: 10%;
                .twt{
                    color: $maincolor;
                    font-size: 30px;
                    text-decoration: none;
                }
               
            }
        }
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .mainbody {background: orange;}
    #sidenav1{
        display: block;
    }
    #sidenav2{
        display: none;
    }
  } 