.sidenav {
  color: black;
  font-size: 19px;
  height: 100%;
  position: sticky;
  overflow-y: scroll;
  top: 0px; }
  .sidenav .sdnav {
    font-weight: 500;
    margin-left: 10%; }
    .sidenav .sdnav .twt {
      color: #1DA1F2;
      font-size: 30px;
      text-decoration: none; }
  .sidenav .sdnav:hover .twt {
    background-color: #E8F5FE; }
  .sidenav .sdnav:hover .kik {
    background-color: #E8F5FE;
    color: #1DA1F2; }
  .sidenav .kik {
    color: black;
    text-decoration: none;
    border-radius: 30px; }
  .sidenav .active {
    background-color: #E8F5FE;
    border-radius: 30px; }
  .sidenav i {
    font-size: 25px; }
  .sidenav #finh {
    background-color: #1A91DA;
    text-align: center;
    border-radius: 30px;
    font-size: 15px; }
  .sidenav #sdbtn {
    color: white;
    border-radius: 0px; }
  .sidenav .logit {
    text-decoration: none;
    color: black; }
    .sidenav .logit .loginphotoxs {
      margin-left: 20%; }
  .sidenav .logdiv {
    border-radius: 30px;
    margin-left: 10%; }
    .sidenav .logdiv .loginphoto {
      width: 3vw;
      height: 7vh; }
    .sidenav .logdiv .itachi {
      font-size: 13px; }
    .sidenav .logdiv .higa {
      font-weight: 700;
      font-size: 15px; }
  .sidenav .logdiv:hover {
    background-color: #E8F5FE; }

#sidenav1 {
  display: none; }

#sidenav2 {
  display: none; }

.main-nav {
  background-color: white;
  position: sticky;
  top: 0px; }

#star {
  width: 25px;
  height: 25px; }

.bgg {
  font-size: 19px;
  font-weight: 700; }

#sts {
  resize: none; }

.stat {
  border: 1px solid #E6ECF0;
  border-bottom: 10px solid #E6ECF0; }

#prfp {
  width: 60px;
  height: 60px; }

#tpicn {
  font-size: 23px; }

#twtbtn {
  background-color: #8ED0F9;
  border-radius: 30px;
  color: white; }

.rytinput {
  border-radius: 30px;
  background-color: #E6ECF0; }

.tweet .itachi {
  font-size: 13px; }
.tweet .higa {
  font-weight: 700;
  font-size: 15px; }
.tweet .twitpix {
  border-radius: 30px;
  height: 50vh; }
  .tweet .twitpix .imgr {
    border-radius: 30px; }
  .tweet .twitpix .imge {
    border-radius: 30px 0px 0px 30px; }
  .tweet .twitpix .imgu {
    border-radius: 0px 30px 30px 0px; }
.tweet #twu {
  border-radius: 15px; }

.tweet:hover {
  background-color: #F5F8FA; }

.imago {
  width: 50px;
  height: 50px; }

.bodicn:hover .icno {
  background-color: #d8d8e4;
  color: blue; }
.bodicn:hover .spn1 {
  color: blue; }
.bodicn:hover .icnu {
  background-color: #E6ECF0;
  color: green; }
.bodicn:hover .spn2 {
  color: green; }
.bodicn:hover .icni {
  background-color: #E6ECF0;
  color: red; }
.bodicn:hover .spn3 {
  color: red; }
.bodicn:hover .icnn {
  color: #6a6aad;
  background-color: #E6ECF0; }

.bottomnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0px;
  background-color: white;
  display: none; }
  .bottomnav a {
    text-decoration: none;
    color: black;
    font-size: 20px; }

.rightsect {
  height: 100%;
  position: sticky;
  top: 0px;
  margin-left: auto; }

.nav-bar {
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 1; }

.card {
  background-color: #F5F8FA; }
  .card .card-header {
    font-size: 19px;
    background-color: #F5F8FA; }
    .card .card-header .headertitle {
      font-weight: 700; }
    .card .card-header a {
      text-decoration: none; }
  .card .card-body .fila {
    text-decoration: none;
    color: black; }
  .card .card-body .sasuke .itachi {
    font-size: 13px; }
  .card .card-body .sasuke .higa {
    font-weight: 700;
    font-size: 15px; }
  .card .card-body .sasuke:hover {
    background-color: #E6ECF0; }
  .card .imago {
    width: 50px;
    height: 50px; }
  .card .bito {
    border-radius: 30px;
    border-color: #1DA1F2;
    color: #1DA1F2; }

.bado {
  font-size: 13px; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mainbody {
    background: red; }
    .mainbody .bottomnav {
      display: flex; }

  .sidenav {
    display: none; } }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mainbody {
    background: green; }

  #sidenav1 {
    display: none; }

  #sidenav2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    width: 100%; }
    #sidenav2 .sdnav {
      font-weight: 500;
      width: 100%; }
      #sidenav2 .sdnav .twt {
        color: #1DA1F2;
        font-size: 30px;
        text-decoration: none; } }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mainbody {
    background: blue; }

  #sidenav1 {
    display: none; }

  #sidenav2 #sidenav2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #sidenav2 #sidenav2 .sdnav {
      font-weight: 500;
      width: 100%; }
      #sidenav2 #sidenav2 .sdnav .twt {
        color: #1DA1F2;
        font-size: 30px;
        text-decoration: none; } }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mainbody {
    background: orange; }

  #sidenav1 {
    display: block; }

  #sidenav2 {
    display: none; } }

/*# sourceMappingURL=Homepage.css.map */
