.sidenav {
  color: black;
  font-size: 19px;
  height: 100%; }
  .sidenav .sdnav {
    font-weight: 500;
    margin-left: 10%; }
    .sidenav .sdnav .twt {
      color: #1DA1F2;
      font-size: 30px;
      text-decoration: none; }
  .sidenav .sdnav:hover .twt {
    background-color: #E8F5FE; }
  .sidenav .sdnav:hover .kik {
    background-color: #E8F5FE;
    color: #1DA1F2; }
  .sidenav .kik {
    color: black;
    text-decoration: none;
    border-radius: 30px; }
  .sidenav .active {
    background-color: #E8F5FE;
    border-radius: 30px; }
  .sidenav i {
    font-size: 25px; }
  .sidenav #finh {
    background-color: #1A91DA;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    margin-bottom: 100px; }
  .sidenav #sdbtn {
    color: white;
    border-radius: 0px; }

.nav-bar .rytinput {
  border-radius: 30px;
  background-color: #E6ECF0; }
.nav-bar .navicn {
  color: #1DA1F2;
  font-size: 20px;
  text-decoration: none; }
.nav-bar .navicn:hover {
  background-color: #E8F5FE; }

.image {
  background: radial-gradient(rgba(73, 73, 116, 0.3), rgba(0, 0, 0, 0.7)), url("../Materials/47100075-call-of-duty-advanced-warfare-wallpaper.jpg");
  background-size: 100%;
  height: 50vh;
  color: white; }

.txt1 {
  font-weight: 700;
  font-size: 19px; }

.txt2 {
  font-size: 13px; }

.trends .card-header {
  font-size: 19px; }
  .trends .card-header .headertitle {
    font-weight: 700; }
  .trends .card-header a {
    text-decoration: none; }
.trends .card-body .fila {
  text-decoration: none;
  color: black; }
.trends .card-body .sasuke .itachi {
  font-size: 13px; }
.trends .card-body .sasuke .higa {
  font-weight: 700;
  font-size: 15px; }
.trends .card-body .sasuke:hover {
  background-color: #E6ECF0; }
.trends .imago {
  width: 50px;
  height: 50px; }
.trends .bito {
  border-radius: 30px;
  border-color: #1DA1F2;
  color: #1DA1F2; }

.davtrend .htrend {
  font-weight: 700; }
.davtrend .ftrend a {
  text-decoration: none; }

.tweet .itachi {
  font-size: 13px; }
.tweet .higa {
  font-weight: 700;
  font-size: 15px; }
.tweet .twitpix {
  border-radius: 30px;
  height: 50vh; }
  .tweet .twitpix .imgr {
    border-radius: 30px; }
  .tweet .twitpix .imge {
    border-radius: 30px 0px 0px 30px; }
  .tweet .twitpix .imgu {
    border-radius: 0px 30px 30px 0px; }
.tweet #twu {
  border-radius: 15px; }

.tweet:hover {
  background-color: #F5F8FA; }

.imago {
  width: 50px;
  height: 50px; }

.bodicn:hover .icno {
  background-color: #d8d8e4;
  color: blue; }
.bodicn:hover .spn1 {
  color: blue; }
.bodicn:hover .icnu {
  background-color: #E6ECF0;
  color: green; }
.bodicn:hover .spn2 {
  color: green; }
.bodicn:hover .icni {
  background-color: #E6ECF0;
  color: red; }
.bodicn:hover .spn3 {
  color: red; }
.bodicn:hover .icnn {
  color: #6a6aad;
  background-color: #E6ECF0; }

.card {
  background-color: #F5F8FA; }
  .card .card-header {
    font-size: 19px;
    background-color: #F5F8FA; }
    .card .card-header .headertitle {
      font-weight: 700; }
    .card .card-header a {
      text-decoration: none; }
  .card .card-body .fila {
    text-decoration: none;
    color: black; }
  .card .card-body .sasuke .itachi {
    font-size: 13px; }
  .card .card-body .sasuke .higa {
    font-weight: 700;
    font-size: 15px; }
  .card .card-body .sasuke:hover {
    background-color: #E6ECF0; }
  .card .imago {
    width: 50px;
    height: 50px; }
  .card .bito {
    border-radius: 30px;
    border-color: #1DA1F2;
    color: #1DA1F2; }

.bado {
  font-size: 13px; }

/*# sourceMappingURL=Explorepage.css.map */
