$maincolor:#1DA1F2;
$inputcolor:#F5F8FA;
$texctcolor:#657786;
$brdacolor:#657786;
$btncolor:#8ED0F9;
$fgtpasswd:#1BA2E8;

.container{
    margin-top: 20px;
    width: 42vw;

    #icn{
        color: $maincolor;
        font-size: 35px;
        display: flex;
        justify-content: center;
    }
    
    p{
        font-size: 23px;
        margin-top: 30px;
    }
    
    label{
        font-size: 15px;
        color: $texctcolor;
    }

   .dig{
       border-bottom: 2px solid $brdacolor;
       background-color: $inputcolor;

       input{
           background-color: $inputcolor;
           margin-top: -11px;
       }
       select{
           background-color: $inputcolor;
           margin-top: -11px;
       }
   }

   .dig:focus{
       label{
           color: $maincolor;
       }
       border-bottom: 2px solid $maincolor;
   }

   .btn{
       width: 100%;
       background-color: $btncolor;
       color: white;
       border-radius: 10vw;
   }

   .dob{
       font-size: 15px;
       #inf{
           color: $texctcolor;
       }
   }
   .btnn{
    width: 5vw; 
    border-radius: 30px;
    background-color: $btncolor;
    color: white;
   }
   .btnn:hover{
       background-color: $maincolor;
   }
}